<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Opennaru, Inc. http://www.opennaru.com/
  ~
  ~  Copyright (C) 2014 Opennaru, Inc. and/or its affiliates.
  ~  All rights reserved by Opennaru, Inc.
  ~
  ~  This is free software; you can redistribute it and/or modify it
  ~  under the terms of the GNU Lesser General Public License as
  ~  published by the Free Software Foundation; either version 2.1 of
  ~  the License, or (at your option) any later version.
  ~
  ~  This software is distributed in the hope that it will be useful,
  ~  but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
  ~  Lesser General Public License for more details.
  ~
  ~  You should have received a copy of the GNU Lesser General Public
  ~  License along with this software; if not, write to the Free
  ~  Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
  ~  02110-1301 USA, or see the FSF site: http://www.fsf.org.
  -->

<module xmlns="urn:jboss:module:1.0" name="org.infinispan" slot="6.0.2">
	<resources>
		<resource-root path="infinispan-core-6.0.2.Final.jar" />
		<resource-root path="infinispan-commons-6.0.2.Final.jar" />
		<resource-root path="jgroups-3.4.1.Final.jar" />
		<resource-root path="jboss-transaction-api_1.1_spec-1.0.1.Final.jar" />
		<resource-root path="jboss-marshalling-river-1.4.4.Final.jar" />
		<resource-root path="jboss-marshalling-1.4.4.Final.jar" />
		<resource-root path="jboss-transaction-api_1.1_spec-1.0.1.Final.jar" />
	</resources>

	<dependencies>
        <module name="org.jboss.logging" export="true"/>
        
        <module name="javax.api"/>
        <module name="javax.xml.bind.api"/>
        <module name="net.jcip"/>
        <module name="org.apache.xerces" services="import"/>
        <module name="org.jboss.jandex"/>
        <module name="org.jboss.logging"/>
        <module name="org.jboss.staxmapper" />
        <module name="sun.jdk"/>        
	</dependencies>

</module>

